# **Lab 14: Data Wrangling**
---
### **Description**
This lab is designed to provide hands-on experience in data wrangling using pandas. We will execute different data wrangling tasks including data cleaning, feature engineering, and feature selection.



### **Lab Structure**
**Part 1**: [Handling Missing Data](#p1)

**Part 2**: [Data Imputation](#p2)

**Part 3**: [Renaming Columns](#p3)

**Part 4**: [Dropping Duplicates](#p4)

**Part 5**: [Creating New Columns](#p5)

**Part 6**: [Dropping Columns](#p6)


<br>

### **Learning Objectives**
 By the end of this lab, we will:
* Recognize what data wrangling is and the key tasks associated with it.

* Recognize how to implement data wrangling techniques for data cleaning, feature engineering, and feature selection.


<br>


### **Resources**
* [Data Wrangling with pandas](https://docs.google.com/document/d/1Ku2E1Dev0Xo8HOmIkq5jA-FaKwhD_cJkPkXBjTWECdQ/edit?usp=sharing)

<br>

**Before starting, run the code below to import all necessary functions and libraries.**

In [ ]:
import pandas as pd
from sklearn import datasets
import numpy as np

<a name="p1"></a>

---
## **Part 1: Handling Missing Data**
---

Use the DataFrame below on NBA basketball players to answer Problems #1.1 - 1.3. Take a moment to explore the created dataframe in the cell below, which contains the names of famous NBA players, ages, heights and their respective teams.

<br>


**Run the cell below to load the DataFrame before continuing.**

In [ ]:
df = pd.DataFrame(
  {'Name':['Giannis Antetokounmpo','Kevin Durant','Stephen Curry','Nikola Jokic', 'Joel Embiid', 'LeBron James', np.nan],
  'Age':[28, 34, 34, 27, np.nan, 38, np.nan],
  'Height (in)':[83, 82, 74, 83, np.nan, 81, np.nan],
  'Team':['Milwaukee Bucks', np.nan, 'Golden State Warriors', 'Denver Nuggets', np.nan, 'Los Angeles Lakers', np.nan],
   'Favorite Color':['Blue', 'Black', 'Grey', 'Green', 'Blue', 'Purple', np.nan]})

df.head(7)

### **Problem #1.1**

**Together**, let's find the non-null count to determine if there is any missing data.

#### **Solution**

In [ ]:
df.info()

### **Problem #1.2**

**Together**, let's use `isnull()` to see which values are missing.

#### **Solution**

In [ ]:
df.isnull()

### **Problem #1.3**

**Together**, let's remove any missing values in the `Age` column.

#### **Solution**

In [ ]:
df_dropped = df.dropna(subset=['Age'])

df_dropped

---
### **Try Problems #1.4 - 1.5 on your own.**
---

### **Problem #1.4**

Drop rows that contain all null values.

#### **Solution**

In [ ]:
df = df.dropna(axis = 0, how = 'all')

df

### **Problem #1.5**

Drop rows that contain any null values.

#### **Solution**

In [ ]:
df = df.dropna(axis = 0, how = 'any')

df

<center>

---
### **Back to Lecture**
---

</center>

<a name="p2"></a>

---
## **Part 2: Data Imputation**
---

The following students have applied for an on-campus university job as a Research Assistant. However, some data is missing. It is your job to fix the missing data.

<br>

**Run the cell below to load the DataFrame before continuing.**

In [ ]:
students_df = pd.DataFrame(
  {'name':['Jen','Akiro','Jamil','Benny', 'Aster', 'Raj', 'Alisha'],
  'age':[19, 18, 21, 23, 26, np.nan, 30],
   'gpa':[np.nan, 4.0, 3.0, 2.3, np.nan, 3.9, 3.8],
   'year':['Freshman', 'Freshman', 'Junior', 'Junior', 'Senior', 'Sophomore', 'Senior'] })

students_df.head()

### **Problem #2.1**

Raj's age is missing. **Together**, let's use the mean for the non-missing values in the column `age` to replace the missing value with the mean.

#### **Solution**

In [ ]:
mean_age = students_df['age'].mean()

students_df['age'] = students_df['age'].fillna(value = mean_age)

students_df

---
### **Try Problem #2.2 on your own.**
---

### **Problem #2.2**

Jen and Aster's GPA are missing. Use the median value of `gpa` to replace these missing values.

#### **Solution**

In [ ]:
median_gpa = students_df['gpa'].median()

students_df['gpa'] = students_df['gpa'].fillna(value = median_gpa)

students_df

<center>

---
### **Back to Lecture**
---

</center>

<a name="p3"></a>

---
## **Part 3: Renaming Columns**
---

### **Problem #3.1**

**Together**, let's use the `students_df` DataFrame and rename `gpa` to `GPA`.

#### **Solution**

In [ ]:
students_df = students_df.rename(columns={'gpa': 'GPA'})
students_df

---
### **Try Problem #3.2 on your own.**
---

### **Problem #3.2**

**Independently**, rename the rest of columns so all column names begin with a capital letter.

#### **Solution**

In [ ]:
students_df = students_df.rename(columns={'name': 'Name', 'age': 'Age', 'year': 'Year'})
students_df

<center>

---
### **Back to Lecture**
---

</center>

<a name="p4"></a>

---
## **Part 4: Dropping Duplicates**
---

Run the code cell below before beginning.

In [ ]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS9jPkeKJ8QUuAl-fFdg3nJPDP6vx1byvIBl4yW8UZZJ9QEscyALJp1eywKeAg7aAffwdKP63D9osF1/pub?gid=169291584&single=true&output=csv"
movie_df = pd.read_csv(url)
movie_df.head()

### **Problem #4.1**

**Together**, let's remove duplicates using `drop_duplicates()`. It may be helpful to take a look at the DataFrame's `shape` before and after dropping duplicates.

In [ ]:
movie_df.shape

In [ ]:
movie_df.drop_# COMPLETE THIS LINE

#### **Solution**

In [ ]:
movie_df.shape

In [ ]:
movie_df.drop_duplicates(inplace=True)

<center>

---
### **Back to Lecture**
---

</center>

<a name="p5"></a>

---
## **Part 5: Creating New Columns**
---

### **Problem #5.1**

**Together**, let's create a third column called `Sum` that adds `Column A` and `Column B`.

In [ ]:
data = {'Column A': [10, 20, 30, 40, 50],
        'Column B': [5, 15, 25, 35, 45]}

df = pd.DataFrame(data)

df['Sum'] = # COMPLETE THIS LINE

print(df)

#### **Solution**

In [ ]:
data = {'Column A': [10, 20, 30, 40, 50],
        'Column B': [5, 15, 25, 35, 45]}

df = pd.DataFrame(data)

df['Sum'] = df['Column A'] + df['Column B']

print(df)

---
### **Try Problem #5.2 on your own.**
---

### **Problem #5.2**

**Independently**, create a new column called `Final Grade` that includes the students' final grades after 5 extra credit points are added.

In [ ]:
data = {
    'Original Grade': [85, 92, 78, 89, 95]
}

df = pd.DataFrame(data)

df['Final Grade'] = # COMPLETE THIS LINE

print(df)

#### **Solution**

In [ ]:
data = {
    'Original Grade': [85, 92, 78, 89, 95]
}

df = pd.DataFrame(data)

df['Final Grade'] = df['Original Grade'] + 5

print(df)

### **Problem #5.3**

Add a new column `Total` by multiplying `Quantity` and `Price`.

In [ ]:
data = {'Quantity': [2, 3, 4, 1],
        'Price': [10.99, 5.99, 3.99, 2.99]}
df = pd.DataFrame(data)

# Add a new column 'Total'
# TYPE CODE HERE

print(df)

#### **Solution**

In [ ]:
data = {'Quantity': [2, 3, 4, 1],
        'Price': [10.99, 5.99, 3.99, 2.99]}
df = pd.DataFrame(data)

# Add a new column 'Total'
df['Total'] = df['Quantity'] * df['Price']

print(df)

### **Problem #5.4**

Add a new column `Speed` by dividing `Distance` by `Time`.

In [ ]:
data = {'Distance': [100, 200, 150, 120],
        'Time': [10, 15, 12, 8]}
df = pd.DataFrame(data)

# Add a new column 'Speed'
# TYPE CODE HERE

print(df)

#### **Solution**

In [ ]:
data = {'Distance': [100, 200, 150, 120],
        'Time': [10, 15, 12, 8]}
df = pd.DataFrame(data)

# Add a new column 'Speed'
df['Speed'] = df['Distance'] / df['Time']

print(df)

### **Problem #5.5**

Add a new column `Profit` by subtracting `Expenses` from `Revenue`.

In [ ]:
data = {'Revenue': [1000, 1500, 1200, 800],
        'Expenses': [500, 600, 800, 400]}
df = pd.DataFrame(data)

# Add a new column 'Profit' by subtracting 'Expenses' from 'Revenue'
# TYPE CODE HERE

print(df)

#### **Solution**

In [ ]:
data = {'Revenue': [1000, 1500, 1200, 800],
        'Expenses': [500, 600, 800, 400]}
df = pd.DataFrame(data)

# Add a new column 'Profit' by subtracting 'Expenses' from 'Revenue'
df['Profit'] = df['Revenue'] - df['Expenses']

<center>

---
### **Back to Lecture**
---

</center>

<a name="p6"></a>

---
## **Part 6: Dropping Columns**
---

### **Problem #6.1**

**Together**, let's drop `Column A` from the DataFrame below.

In [ ]:
data = {
    'Column A': [1, 2, 3],
    'Column B': [4, 5, 6],
    'Column C': [7, 8, 9]
}

df = pd.DataFrame(data)

# Drop 'Column A'
df = df.drop #COMPLETE THIS LINE

print(df)

#### **Solution**

In [ ]:
data = {
    'Column A': [1, 2, 3],
    'Column B': [4, 5, 6],
    'Column C': [7, 8, 9]
}

df = pd.DataFrame(data)

# Drop 'Column A'
df = df.drop('Column A', axis=1)

print(df)

---
### **Try Problem #6.2 on your own.**
---

### **Problem #6.2**

Drop `Email` from the DataFrame below.

In [ ]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'Email': ['john@example.com', 'jane@example.com', 'mike@example.com'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Drop 'Email' column


print(df)

#### **Solution**

In [ ]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'Email': ['john@example.com', 'jane@example.com', 'mike@example.com'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Drop 'Email' column
df = df.drop('Email', axis=1)

print(df)

---
#End of Notebook

© 2024 The Coding School, All rights reserved